.Statistics .stats-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Statistics .stats-list-item {
  font-size: 18px;
  font-weight: 500;
  line-height: 2.8;
  margin-block-start: 13px;
  border: 3px solid #f9ce00;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #09194f;
}
