.Summary .city {
  font-size: 1.7em;
  font-weight: 900;
  text-shadow: 1px 1px 0 #f9ce00, 2px 2px 0 #247291;
}

.Summary h4 {
  font-size: calc(1.2rem + 0.3vw);
  width: 150px;
  margin: 0 auto 5px;
  text-transform: capitalize;
}

.Summary .temp-unit-selector {
  margin-top: 14px;
  text-align: left;
}

.Summary .celsius-button,
.Summary .fahrenheit-button {
  font-size: 14px;
  color: #fff;
  background: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 8px;
  min-width: 1.5em;
  transition: all 200ms ease-in-out;
}

.Summary .celsius-button:hover,
.Summary .fahrenheit-button:hover {
  background-color: #09194f;
}

.Summary .celsius-button-selected,
.Summary .fahrenheit-button-selected {
  background-color: #09194f;
}

.Summary #current-temp {
  font-size: 5em;
  font-weight: bolder;
  line-height: 1;
}

.Summary #app-park-picture {
  position: relative;
  left: 60px;
}
